#typeAnim {
	display: flex;
	align-items: center;
	font-size: 20px;
	@media only screen and (max-width: 991px) {
		line-height: 2;
	}
	#cursor {
		margin-left: 10px;
		animation: typeCur 1s infinite linear;
		height: 30px;
		width: 3px;
		background: #1ab5eb;
	}
}
@keyframes typeCur {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	50.1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
