#Travel{
    .container{
        display: flex;
        h1{
            font-size: 3vw;
            margin-bottom: 25px;
        }
        div{
            &.travel_dec{
                width: 40%;
                padding: 100px 0;
                padding-right: 100px;
            }
            &.travel_illust{
                width: 60%;
                img{
                    max-width: 100%;
                }

            }

        }
    }
}